<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>B-Xtras</title>
  <script>
      window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
  </script>
  <script defer src="/_vercel/insights/script.js"></script>
  <link rel="icon" type="image/svg+xml" href="/public/images/mylogo1.svg" />
  <link rel="stylesheet" href="/components/ComingSoon/ComingSoon.css" />
  <script src="/components/ComingSoon/ComingSoon.js"></script>
</head>

<body>
  <header class="hero">
    <div class="overlay"></div>
    <div class="hero-content">
      <div class="badge">Stay Tuned</div>
      <h1>Under Development</h1>
      <p>New things on the way...</p>
    </div>
  </header>

  <main class="features">
    <!-- <section class="grid">
        <div class="card">
          <div class="icon">⚓</div>
          <h3>Creative Experience</h3>
          <p>
            
          </p>
        </div>
        <div class="card">
          <div class="icon">⏱️</div>
          <h3>Creative Experience</h3>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </p>
        </div>
        <div class="card">
          <div class="icon">❤</div>
          <h3>Creative Experience</h3>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </p>
        </div>
      </section> -->

    <section class="notify">
      <h2>Want to be notified?</h2>
      <form class="notify-form" onsubmit="submitNewsletter(event)">
        <input type="email" placeholder="Enter E-mail Address" required />
        <button type="submit">Subscribe</button>
      </form>
    </section>
  </main>

  <!-- <footer class="footer">
    <div class="logo">★</div>
    <p>Making something you love</p>
    <div class="social">
        <a href="https://github.com/blazoxx" aria-label="GitHub">GitHub</a>
        <a href="https://x.com/theB_020" aria-label="X">X</a>
        <a href="https://www.instagram.com/blazox_x/" aria-label="Instagram"
          >Instagram</a
        >
    </div>
    <a class="email" href="mailto:'[my_email]'
        >[my_email]</a
      >
    <small>© 2025 All rights reserved.</small>
  </footer> -->

  <section>

    <footer class="footer">

      <div class="footer-first">

        <!-- <div class="footer-section">
                                <a href="/coming-soon">
                                    <h4>Blogs</h4>
                                </a>
                            </div> -->
        <div class="footer-section">
          <a href="/contact">
            <h4>Contact Me</h4>
          </a>
        </div>
        <!-- <div class="footer-section">
                                <a href="/coming-soon">
                                    <h4>FAQs</h4>
                                </a>
                            </div> -->
        <!-- <div class="footer-section">
                                <a href="">
                                    <h4>Need Help?</h4>
                                </a>
                            </div> -->
        <!-- <div class="footer-section f1">
                                <a href="/coming-soon">
                                    <h4></h4>
                                </a>
                            </div> -->
        <!-- <div class="footer-section f1">
                                <a href="/coming-soon">
                                    <h4></h4>
                                </a>
                            </div> -->
        <div class="footer-section">
          <a href="/">
            <h4>Portfolio</h4>
          </a>
        </div>
      </div>

      <div class="footer-bottom">
        <h3>Baibhav Pratap Singh</h3>
        <div class="footer-social">
          <ol>
            <li>
              <a href="https://github.com/blazoxx">
                <img src="../../public/images/github.svg" alt="" />
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/baibhav22/">
                <img src="../../public/images/linkedin-s.svg" alt="" />
              </a>
            </li>
            <li>
              <a href="https://x.com/theB_020">
                <img src="../../public/images/x.svg" alt="" />
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/blazox_x/">
                <img src="../../public/images/instagram.svg" alt="" />
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../../public/images/heart.svg" alt="" />
              </a>
            </li>
          </ol>
        </div>
      </div>

      <div class="foot">
        <p>&copy;Baibhav Corporation Pvt Ltd
          <br>
          Made with
          <img src="../../public/images/heart.svg" class="fa-fart" width="14px" />
          and
          <img src="../../public/images/laptop-c.svg" alt="" class="fa-lapi" width="16px" />
        </p>
      </div>

    </footer>
  </section>

  <script>
    window.si = window.si || function () { (window.siq = window.siq || []).push(arguments); };
  </script>
  <script defer src="/_vercel/speed-insights/script.js"></script>
</body>

</html>