:root {
  --color: #fff;
  --color2: #000;
  --bgcolor: #ffeae1;
  --bgcolor2: #ffc0e7;
  --buttons: rgb(255, 94, 0);
  --footer-sub: rgb(118, 120, 122);
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--bgcolor);
}

.contact-header {
  background-color: var(--bgcolor2);
  color: var(--color);
  padding: 50px 20px;
}

.heading1 {
  font-size: 70px;
  margin: -20px auto 70px 20%;
}

.contact-info {
  display: flex;
  justify-content: center;
}

.email-circle {
  margin: auto;
  align-self: center;
  text-align: center;
  margin-right: 10%;
}

.email-circle .arrow-down {
  background: var(--buttons);
  color: var(--color);
  font-size: 24px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  line-height: 60px;
  margin: 0 auto;
}

.contact-details {
  margin: auto auto;
  display: flex;
}

.comtact-details p{
  font-size: 40px;
}

.contact-details p img{
  height: 28px;
  margin: 0 10px;
  vertical-align: middle;
}

/* Message Form */
.message-form {
  background: var(--bgcolor);
  text-align: center;
  padding: 50px 20px;
}

.heading2 {
  font-size: 55px;
}

.message-form form {
  max-width: 600px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
}

.message-form input,
.message-form textarea {
  box-sizing: border-box;
  margin: 15px 0;
  padding: 10px;
  border: none;
  resize: vertical;
  border-bottom: 1px solid #ccc;
  background: transparent;
}

.message-form textarea {
  min-height: 100px;
  width: auto;
}

.message-form button {
  background: var(--buttons);
  color: var(--color);
  padding: 10px;
  border: none;
  margin-top: 10px;
  margin-left: auto;
  margin-right: 0;
  cursor: pointer;
  width: fit-content;
}

/* Map */

.map-section {
  width: 60vw;
  min-width: 550px;
  display: flex;
  max-height: 400px;
  border: none;
  margin: auto;
}

.map-section iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* //////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////// */

/* Footer */
.footer {
  min-width: 600px;
  width: 65%;
  margin: auto;
  margin-top: 65px;
}

.footer-first {
  border-top: 1px solid #333;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px 20px;
  border-bottom: 1px solid #333;
}

.footer .footer-first .footer-section a {
  text-decoration: none;
}

.footer-section h4 {
  font-weight: normal;
  color: var(--footer-sub);
}

.footer-section a h4:hover {
  color: rgb(46, 46, 46);
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  border-bottom: 1px solid #333;
}

.footer-bottom h3 {
  color: var(--footer-sub);
}

.footer-bottom .footer-social ol {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-bottom .footer-social ol li a img {
  width: 22px;
  filter: brightness(0) invert(0.65);
  padding: 10px;
}

.footer-bottom .footer-social ol li img:hover {
  filter: brightness(0) invert(0.4);
}

.footer-bottom .footer-social ol li img::after {
  text-decoration: none;
  filter: brightness(0) invert(0.65);
}

.foot {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
  color: var(--footer-sub);
  font-size: 90%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.fa-fart,
.fa-lapi {
  filter: brightness(0) invert(0.7);
}

.fa-fart:hover {
  filter: invert(34%) sepia(86%) saturate(1000%) hue-rotate(350deg) brightness(100%) contrast(105%);
}

.fa-lapi:hover {
  filter: invert(60%) sepia(20%) saturate(1000%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

/* //////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////// */

@media (max-width: 800px) {

  * {
    margin: 0;
    padding: 0;
  }

  .message-form {
    background: var(--bgcolor);
    text-align: center;
    padding: 50px 20px;
  }

  .heading2 {
    font-size: 55px;
  }

  .message-form form {
    max-width: 90vw;
  }

  .message-form textarea {
    min-height: 70px;
  }

  /* Map */

  .map-section {
    width: 90vw;
    min-width: 90vw;
  }

  .footer {
    width: 90vw;
    min-width: 90vw;
  }

  .footer-first {
    padding: 20px 20px;
  }

  .footer-first .f1 {
    display: none;
  }

  .footer-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-bottom .footer-social ol li a img {
    width: 18px;
    filter: brightness(0) invert(0.7);
    padding: 20px 15px;
    padding-bottom: 0;
  }

  .foot {
    font-size: 80%;
    margin: 5px 0;
  }
}